/* Right main */
.right--main{
  width: 100%;
  
}
.flex-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
  gap: 1rem;
  justify-content: space-evenly;
}
.welcome--text{
  text-align: center;
  margin-bottom: 1.5rem;

  background-image: linear-gradient(to right, #ff7e5f, #ff7e5f, blue, #ff7e5f); /* Define the gradient colors */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
  background-clip: text; /* Ensure it's supported in more browsers */
  text-fill-color: transparent;
}

.right--main .flex-container > div{
  border: 1px solid black;
  /* width: 30%; */
  min-width: 15rem;
  margin-bottom: 1.5rem;
}
.right--main .flex-container > div{
  position: relative;
}
.img-container{
  height: 320px;
  position: relative;
}
.img-container::before{
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0%{
    background-color: rgba(155, 144, 144, 0.2);
  }
  50%{
    background-color: rgba(155, 144, 144, 0.5);
  }
  100%{
    background-color: rgba(155, 144, 144, 0.2);
  }
}
.main--img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
.loaded img{
  opacity: 1;
}
.img-container.loaded::before{
  content: none;
  animation: none;
  
}

.right--main h3{
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.25rem;
}
.right--main .flex-container > div div{
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
.right--main .flex-container > div div button{
  background-color: var(--primary--color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  
}

.right--main .flex-container > div div button:first-of-type{
  width: 45%;
  height: 2.5rem;  
}
.readMore-btn{
  display: block;
  padding: 0.5rem 1rem;
  background-color: var(--primary--color);
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
  width: 10rem;
}
.back-btn{
  float: right;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

