.log--form{
  background-color: #a3ccd5;
  height: 100vh;
  
}
.log--form h1{
  text-align: center;
  padding: 3rem;
}
.log--form h2{
  text-align: center;
}
.log--form .message{
  color: rgb(141, 7, 7);
  font-size: 1.2rem;
  text-align: center;
  height: 1.2rem;
  margin-bottom: 0.5rem;
  width: 100%;

}
.log--form form{
  width: 50%;
  height: auto;
  border: 0.2rem solid black;
  border-radius: 10px;
  padding:2rem 5%;
  margin: 0 auto;
}

.log--form form div{
  margin-bottom: 1rem;
}
.log--form label{
  display: block;
  margin-bottom: 0.3rem;
}
.log--form input{
  display: block;
  width: 100%;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  
}
.log--form input:focus{
  outline: none;
}
.log--form button{
  width: 20%;
  height: 2rem;
  border-radius: 5px;
  background-color: var(--secondary--color);
  outline: none;
  border: none;
}
.link-btn{
  color: #b42020;
  font-size: larger;
} 

@media only screen and (max-width: 900px){
  .log--form form{
    width: 75%;
  }
  .log--form{
    min-height: 100vh;
    max-height: auto;
  }
}
@media only screen and (max-width: 600px){
  .log--form h1{
    padding: 1.5rem;
    font-size: 1.4rem;
  }
  .log--form h2{
    padding: 0;
    font-size: 1.3rem;
    margin: 0;
  }
  .log--form form{
    width: 100%;
    border: none;
    padding:0rem 5%;
  }
}
@media only screen and (max-width: 300px){
  html{
    font-size: 14px;
  }
  .log--form button{
    width: 30%;
    
  }
}
  