header{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: var(--secondary--color);
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
}
header img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}
.nav--list{
    display: flex;
}
.nav--list li{
    text-decoration: none;
    list-style: none;
}
.nav--list li:first-child{
    margin-right: 4rem;
}
.nav--btn{
    display: flex;
    gap: 1rem;
    align-items: first baseline;
    flex-direction: column;
    margin-top: 3.5rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    background-color: var(--secondary--color);
}
.nav--btn button{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary--color);
    border-radius: 5px;
}
.nav--btn button:first-child{
    margin-right: 2rem;
}