header{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: var(--secondary--color);
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
}
/* Image logo */
header img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

/* Nav list style start */
header div.dropdown-container{
    display: flex;
    width: 70%;
}
/* Menu icone  */
.menu-icon{
    display: none;
}
header div.dropdown-container > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 4rem;
} 
nav ul li{
    list-style: none;
}
nav ul li:last-of-type{
    position: relative;
}
nav ul li:last-of-type span{
    background-color: var(--primary--color);
    display: inline-block;
    padding: 0.25rem;
    border-radius: 50%;
    position: absolute;
    right: -1rem;
    top: -1rem;
    color: white;
    text-align: center;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
header .dropdown-container div div:last-of-type a{
    text-decoration: none;
    list-style: none;
    color: black;
    background-color: var(--primary--color);
    padding: 0.5rem 1rem;    
    border-radius: 5px;
    font-size: large;
}
nav ul li button{
    border: none;
}
nav ul li button img{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
header .dropdown-container div div:last-of-type{
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    align-items: center;
}
header .dropdown-container div div:last-of-type button{
    border: none;
}


@media only screen and (max-width: 700px) {
    .dropdown-container.active, .dropdown-container{
        width: auto;
        height: auto;
        justify-content: end;
    }
    .menu-icon{
        display: block;
        font-size: 2rem;
        border: none;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .dropdown-container > div{
        position: absolute;
        top: 6rem;
        right: 0;
        width: 0;
        height: 0;
        margin: 0;
        overflow-x: hidden;
        flex-direction: column;
        background-color: var(--secondary--color);
        justify-content: start !important;
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 1s ease , transform 0.5s ease;
        gap: 1rem;  
    }
    .dropdown-container.active > div{
        transform: translateX(0);
        width: 15rem;
        opacity: 1;
        height: 20rem;
        transition: opacity 1s ease , transform 0.5s ease;

    }
    div nav ul, header .dropdown-container div div:last-of-type{
        flex-direction: column;
        gap: 2rem;
    }
}
@media only screen and (max-width: 600px) {
    .dropdown-container div{
        height: 100vh;
    }
    .dropdown-container.active > div{
        height: 100vh;
        width: 100%;
    }
}


